
/* === Fonts === */
@import url("../fonts/Lato/font.css");
@import url("../fonts/Montserrat/font.css");
@import url("../fonts/Lora/font.css");
@import url("../fonts/Playfair_Display/font.css");
@import url("../fonts/EB_Garamond/font.css");